@model PowerFest.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razao_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razao_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contato.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contato.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servico.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cnpj }) |
    @Html.ActionLink("Back to List", "Index")
</p>
